@import "./nprogress.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

* {
  font-family: 'Roboto', sans-serif;
}


.app-section {
  width: 100vw;
  // height: 100vh;
  background: black;
}

header {
  height: 80px;
  width: 100vw;
  box-sizing: border-box;
  background: #263238;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  z-index: 9999;
}

.menu-btn {
  background: #263238;
  filter: brightness(80%);
  height: 100%;
  width: 100px;
  color: white;
  border: none;
}

header img {
  height: 60px;
}


.content {
  display: flex;
  top: 70px;
  position: relative;
  margin-right: 400px;
}

.cvs-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

canvas {
  width: 100%;
  transition: 0.1s all;
}

.expanded {
  margin-right: 100px;
}

.loader {
  position: relative;
  height: 100vh;
  width: 100%;
  background: black;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 24px;

}

.sidebar {
  width: 100px;
  position: fixed;
  right: 0;
  background: #263238;
  filter: brightness(80%);

  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  padding:  50px;
  transition: 0.1s all;
}

.cvs {
  animation-name: anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes anim {
  0%   {filter: blur(0px);}
  50%  {filter: blur(10px);}
  100% {filter: blur(0px);}
}

.open {
  width: 400px;
}

.sidebar button {
  height: 60px;
  background: #263238;
  filter: brightness(120%);
  color: white;
  font-size: 16px;
  border: none;
  margin-bottom: 40px;
}

.test-btn {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.condensed {
  justify-content: center;
  padding-left: 0;
}

.test-btn p {
  margin-left: 20px;
}

.test-btn img {
  height: 20px;
  filter: brightness(0) #{"invert()"};
}

.test-btn:hover {
  background: #263238;
  filter: brightness(140%);
}

.slider {
  width: 100%;
  color: white;
}

.slider input {
  width: 100%;
}
