/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
	.bar {
		background: #14abd7;
	
		position: fixed;
		z-index: 1031;
		top: 0;
		left: 0;
	
		width: 100%;
		height: 5px;
		&[role="bar"]{
			z-index: 99999; //override any material component
		}
	}
	
	/* Fancy blur effect */
	.peg {
		display: block;
		position: absolute;
		right: 0px;
		width: 100px;
		height: 100%;
		box-shadow: 0 0 10px #14abd7, 0 0 5px #14abd7;
		opacity: 1;
	
		-webkit-transform: rotate(3deg) translate(0px, -4px);
		-ms-transform: rotate(3deg) translate(0px, -4px);
		transform: rotate(3deg) translate(0px, -4px);
	}
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
	#nprogress {
		.spinner,.bar{
			position: absolute;
		}
	}
		
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
